.hero-section {
  padding: 50px 0;
  position: relative;
}

@media (min-width: 768px) {
  .hero-section {
    padding: 100px 0;
  }
}
.hero__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .hero__container {
    max-width: 864px;
  }
}
@media (min-width: 992px) {
  .hero__container {
    max-width: 1076px;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    max-width: 1340px;
  }
}

.hero-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; /*IE 10*/
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  gap: 93px;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero-row {
    justify-content: space-between;
  }
}

.hero-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.hero-column-50 {
  max-width: 100%;
  flex: 0 0 100%;
}

.mr-130 {
  margin-right: 0;
}
.hero-column-30 {
  max-width: 100%;
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .hero-column-30 {
    max-width: 30%;
    flex: 0 0 30%;
  }
  .mr-130 {
    margin-right: 130px;
  }
  .hero-column-50 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.hero-box2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
