.product__box {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.65rem;

  cursor: pointer;

  border: none;
  border-radius: 10px;
  outline: none;

  font-size: 2rem;
  font-weight: 500;
  background-color: var(--original-white);
}
.product__button:hover {
  background-color: var(--troperial-white-hover);
}

.product__text--black {
  color: var(--original-black);
}

.product__text--white {
  color: var(--original-disabled);
}
